body{
    background-image: 
        radial-gradient(blue 1px, #fafafa 1px), 
        radial-gradient(blue 1px, blue 1px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;    
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}